#wrapper{
  display: flex;
}
.day{
  flex: 0 0 20%;
  max-width: 20%;
}
.day:nth-of-type(2n){
  background-color: lightgrey;
}


/*.table-wrapper{
  position: relative;
  width: 500px;
  margin: 50px auto;
}
.table-wrapper:before{
  content: '';
  position: absolute;
  top: 0;
  left: 100px;
  height: 100%;
  width: 1px;
  background-color: white;
}
.table-wrapper:after{
  content: '';
  position: absolute;
  top: 0;
  right: 100px;
  height: 100%;
  width: 1px;
  background-color: white;
}
.table{
  display: grid;  
  grid-template-rows: 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px;
}
.table:before{
  content: '';
  position: absolute;
  top: 0;
  left: 200px;
  height: 100%;
  width: 1px;
  background-color: white;
}
.table:after{
  content: '';
  position: absolute;
  top: 0;
  right: 200px;
  height: 100%;
  width: 1px;
  background-color: white;
}

.row:nth-of-type(2n){
  background-color: grey;
}
.row:nth-of-type(2n+1){
  background-color: lightgrey;
}*/
#diagram{
  position: relative;
}
.checklist{
  position: absolute;
  top: 0;
  left: 0;
  columns: 2;
}
#drawing svg{
  margin: 50px auto;
  display: block;
}